			<div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="type">Food ordering and selling service!</h1>
            </div>
          </div>
        </div>

        <!-- Headings -->

        <div class="row">
          <div class="col-lg-6">
            <div class="bs-example">
              <h2>Looking for food?</h2>
              <p>Please meet <a href="/caterings">caterers</a> in your location. Best dishes. Nice prices. Responsible service.<br><br>
              If you have corporate office - we can propose <a href="/offices">special offer</a>!</p>
              <br>
              <p align="center">
              	<%= link_to "Order food NOW", offices_path, class: 'btn btn-primary btn-lg' %>
              </p>
            </div>

          </div>
          <div class="col-lg-6">

            <h2>You are restaurateur?</h2>
           		Pass the simple registration, create your menu and start sell you food right now!<br><br>
           		Chain of restaurants can get personal <a href="/contacts/new">manager support</a>.
           		<br><br>
              <p align="center">
              	<%= link_to "Start to sell food", caterings_path, class: 'btn btn-success btn-lg' %>
              </p>
          </div>
        </div>
        <br><br><br>
        <!-- Blockquotes -->

        <div class="row">
          <div class="col-lg-12">
            <h2 id="type-blockquotes">Reviews</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
            </blockquote>
          </div>
          <div class="col-lg-6">
            <blockquote class="pull-right">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
            </blockquote>
          </div>
        </div>
      </div>